@media screen and (min-width: 1200px) {
	.container {
		max-width: 1158px;
	}
	.header-logo {
		margin-right: 76px;
	}
	.header-link {
		margin-top: unset;
	}

	.header-link-meil {
		font-size: 16px;
		line-height: 1.5;
		padding: 24px 0 24px 40px;
	}
	.header-link-tel {
		font-size: 16px;
		line-height: 1.5;
		padding: 24px 0 24px 40px;
	}

	.hero {
		height: 600px;
		padding: 188px 0;
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-dt.jpg);
	}
	@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.hero {
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-dt-2x.jpg);
		}
	}

	.hero-title {
		margin-bottom: 48px;
	}
	.about,
	.customers,
	.team {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.about-advantages {
		width: 264px;
		height: 112px;
		background: #f4f4fd;
		border-radius: 4px;
		padding: 24px 100px;
	}
	.about-title {
		text-align: start;
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.02em;
		color: var(--secondary-title-color);
		margin: 8px 0 8px;
	}
	.about-text {
		width: 264px;
	}

	.footer {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.footrer-blok {
		display: flex;
		flex-wrap: nowrap;
	}
	.footer-logo {
		margin: 0 auto;
	}
	.footer-text {
		margin: 16px 120px 0 0;
	}
	.input-form-email {
		margin-left: 80px;
	}
	.footer-social-list {
		margin: 0 auto;
	}
	.footer-media {
		text-align: start;
	}
	.footer-form {
		margin-left: 80px;
	}
	.footer-telegram {
		margin-left: 0;
	}
}
