@media screen and (min-width: 480px) {
	.container {
		max-width: 428px;
	}
	.hero {
		width: 100%;
	}
	.hero-title {
		width: 320px;
		font-size: 36px;
	}
	.about-text {
		width: 396px;
		font-size: 16px;
	}
	.customers-logo-link {
		width: 190px;
		height: 88px;
	}
	.footer-logo {
		margin-left: 140px;
	}

	.input-form-email {
		width: 398px;
	}
}

@media screen and (max-width: 1199px) {
	.about-advantages,
	.features {
		display: none;
	}
}
