@media screen and (min-width: 480px) {
	.container {
		max-width: 428px;
	}
	.header-link-tel {
		font-size: 36px;
	}
	.heder-social-list {
		gap: 56px;
	}
	.hero-title {
		width: 320px;
	}
	.about-list {
		flex-direction: unset;
	}
	.about-text {
		width: 396px;
		font-size: 16px;
	}
	.customers-logo-link {
		width: 190px;
		height: 88px;
	}

	.input-form-email {
		width: 398px;
	}
	.modal {
		width: 392px;
	}
	.mobal-title {
		font-size: 16px;
	}
	.form-label-checkbox {
		display: flex;
		align-items: center;
		font-weight: 400;
		font-size: 12px;
		line-height: calc(14 / 12);
		letter-spacing: 0.04em;
		color: #8e8f99;
		margin-bottom: 24px;
	}
}

@media screen and (max-width: 1199px) {
	.about-advantages,
	.features {
		display: none;
	}
}
