@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
	}
	.header-logo {
		margin-right: 120px;
	}
	.header-link-meil {
		font-weight: 400;
		font-size: 12px;
		line-height: 1.17;
		order: unset;
		margin-top: 16px;
		margin-left: 121px;
	}
	.header-link-tel {
		font-weight: 400;
		font-size: 12px;
		line-height: 1.17;
		padding: unset;
		margin-top: 12px;
		margin-bottom: 16px;
		margin-left: 121px;
	}

	.header-list {
		display: flex;
		gap: 40px;
	}
	.header-item {
		margin-bottom: 0;
	}
	.header-link {
		display: block;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		position: relative;
		padding: 24px 0;
		color: #2e2f42;
		margin-left: unset;
		margin-top: unset;
	}
	.header-link.active::after {
		content: "";
		width: 100%;
		height: 4px;
		border-radius: 2px;
		background-color: #404bbf;
		position: absolute;
		left: 0;
		bottom: -1px;
	}

	.header-nav-wrap.is-open {
		transform: translateX(0%);
	}
	.header-nav-wrap {
		display: flex;
		align-items: center;
		max-width: unset;
		height: unset;
		position: static;
		padding: 0;
	}
	.heder-btn-modal-close {
		display: none;
	}
	.header-btn-mobail {
		display: none;
	}
	.heder-social-list {
		display: none;
	}
	.hero {
		height: 436px;
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-tab.jpg);
	}
	@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.hero {
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-tab-2x.jpg);
		}
	}

	.hero-title {
		width: 496px;
		font-size: 56px;
		line-height: 1.07;
		margin-bottom: 36px;
	}

	.about-title {
		text-align: start;
	}
	.about-text {
		width: 356px;
	}
	.blok-list {
		row-gap: 64px;
	}

	.customers-logo-link {
		width: 168px;
	}
	.customers-list {
		column-gap: var(--basic-margin);
	}
	.footrer-blok {
		display: flex;
		flex-wrap: wrap;
	}
	.footer-logo {
		margin-left: 90px;
	}

	.footer-text {
		margin-right: var(--basic-margin);
		margin-left: 90px;
	}
	.footer-social-list {
		margin-bottom: 0;
	}
	.footer-form {
		text-align: start;
	}
	.footer-media {
		text-align: start;
	}
	.input-form-email {
		width: 264px;
		margin-right: 24px;
	}
	.footer-email {
		display: flex;
	}
	.footer-telegram {
		margin-left: 90px;
	}
	.input-form-email {
		margin-bottom: 0;
	}
	.modal {
		width: 408px;
	}
}
